<h2>New guitar</h2>
<div class="name">
  <form action="/products/create" method="POST">
    {{! //TIENE QUE SER POST }}
    <input type="text" placeholder=" name/model" name="name" />
    <input type="number" placeholder="quantity" name="quantity" />
    <input type="number" placeholder="price" name="estimated price" />
    <button type="submit" class="btn btn-primary">Add guitar</button>
  </form>
</div>
{{! //TIENE QUE SER POST }}